USE [master]
GO
/****** Object:  Database [TUPPI]    Script Date: 12/7/2022 23:19:48 ******/
CREATE DATABASE [TUPPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TUPPI', FILENAME = N'D:\EscritorioCremona\programacion\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\TUPPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TUPPI_log', FILENAME = N'D:\EscritorioCremona\programacion\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\TUPPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TUPPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TUPPI]
GO
/****** Object:  Table [dbo].[Estados_Civiles]    Script Date: 12/7/2022 23:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados_Civiles](
	[id_estado_civil] [int] NOT NULL,
	[estado_civil] [varchar](50) NULL,
 CONSTRAINT [pk_Estados_Civiles] PRIMARY KEY CLUSTERED 
(
	[id_estado_civil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 12/7/2022 23:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[idMarca] [int] NOT NULL,
	[nombreMarca] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 12/7/2022 23:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[apellido] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[id_tipo_documento] [int] NULL,
	[id_estado_civil] [int] NULL,
	[sexo] [int] NULL,
	[fallecido] [int] NULL,
	[documento] [int] NOT NULL,
 CONSTRAINT [pk_documento] PRIMARY KEY CLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonos]    Script Date: 12/7/2022 23:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos](
	[codigo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[marca] [int] NOT NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_Telefonos] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Documentos]    Script Date: 12/7/2022 23:19:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Documentos](
	[id_tipo_documento] [int] NOT NULL,
	[tipo_documeto] [varchar](30) NULL,
 CONSTRAINT [pk_Tipos_Documentos] PRIMARY KEY CLUSTERED 
(
	[id_tipo_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [fk_Personas_Estados_Civiles] FOREIGN KEY([id_estado_civil])
REFERENCES [dbo].[Estados_Civiles] ([id_estado_civil])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [fk_Personas_Estados_Civiles]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [fk_Personas_Tipos_documentos] FOREIGN KEY([id_tipo_documento])
REFERENCES [dbo].[Tipos_Documentos] ([id_tipo_documento])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [fk_Personas_Tipos_documentos]
GO
USE [master]
GO
