USE [master]
GO
/****** Object:  Database [Vivero]    Script Date: 12/7/2022 23:32:32 ******/
CREATE DATABASE [Vivero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vivero', FILENAME = N'D:\EscritorioCremona\programacion\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\Vivero.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vivero_log', FILENAME = N'D:\EscritorioCremona\programacion\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\Vivero_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vivero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vivero]
GO
/****** Object:  Table [dbo].[Especies]    Script Date: 12/7/2022 23:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especies](
	[idEspecie] [int] NOT NULL,
	[nombreEspecie] [varchar](60) NOT NULL,
 CONSTRAINT [pk_Especies] PRIMARY KEY CLUSTERED 
(
	[idEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plantas]    Script Date: 12/7/2022 23:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantas](
	[codigo] [int] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[especie] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [pk_Plantas] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Plantas]  WITH CHECK ADD  CONSTRAINT [fk_Plantas_Especies] FOREIGN KEY([especie])
REFERENCES [dbo].[Especies] ([idEspecie])
GO
ALTER TABLE [dbo].[Plantas] CHECK CONSTRAINT [fk_Plantas_Especies]
GO
USE [master]
GO
